/StammdatenCoreDomain/target/
/Lagerverwaltung-ejb/target/
/Lagerverwaltung-web/target/
/Lagerverwaltung/Lagerverwaltung-ear/target/
/Lagerverwaltung-domain/target/
/Stammdaten-coredomain/target/
/Lagerverwaltung/Lagerverwaltung-ejb/target/
/Lagerverwaltung/Lagerverwaltung-web/target/